@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

ul {
  margin-left: 40px !important;
}

p code {
  color: #943733;
  background: #f9f9f9;
  padding: 8px 5px;
  border-radius: 8px;
}

h2 {
  border-top: 1px solid #c3c3c3;
  padding-top: 35px
}

h2::before {
  content: "# ";
  color: #943733;
}

h3::before{
   content: '';
   display: inline-block;
   width: 8px;
   height: 8px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #943733;
   margin-right: 10px;
   margin-bottom: 3px;
}

p > img {
  margin: 25px 0 !important;
}

@media screen and (min-width: 700px) {
  p > img {
    max-width: 600px !important;
  }
}
